<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--需要适配移动端需要添加的标签-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/bootstrap4/css/bootstrap.min.css}">
    <script th:src="@{/static/sources/jquery-3.3.1.js}"></script>
    <script th:src="@{/static/sources/popper.min.js}"></script>
    <script th:src="@{/static/bootstrap4/js/bootstrap.min.js}"></script>
</head>
<body>

</body>
</html>